<ion-view>
  <ion-nav-title>
    <h2>Reported Questions</h2>
</ion-nav-title>
  <ion-content>
      <br/>
      <br/>


    <label class = "item item-input">
    <strong>Order by ...</strong>
    <select class="item select" name="filterq" ng-model="theFilter">
      <option value="nickname">Nickname</option>
      <option value="date">Date</option>
      <option value="topicname">Topic</option>
      <option value="totalvaloration">Score</option>
    </select>
  </label>
  <br/>
  <ion-list>
      <ion-item ng-repeat="question in questions | orderBy: theFilter:true" href="#/app/playlists/{{question.idquestion}}">
        <a ng-click="insideQuestion(question);">
          <h2>{{question.input}}</h2>
        <strong>Author: {{question.nickname}}</strong><br/>
        <strong style="color:teal;">Total Score: {{question.totalvaloration}}</strong><i class="icon ion-star"></i>
        <small style="float:right;">{{question.topicname}}</small>
        <br><button class="button button-assertive" ng-click="inReportedQuestion(question);">Show reports</button>
        <br><button class="button button-assertive" ng-click="removeQuestion(question);">Delete question</button>
      </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
