<ion-view>
  <ion-nav-title>
</ion-nav-title>
  <ion-content>
      <br/>
      <br/>
      <div>
    <label class="item item-input item-stacked-label" style="text-align:center;"><strong>SELECT TOPIC</strong></label>
      <ion-radio
      style="text-align:center;float:left;width:50%;"
      ng-model="$parent.selectedTopic"
      ng-change="test(topic.topicname)"
      ng-repeat="topic in topics"
      ng-value="topic.topicname">{{topic.topicname}}</ion-radio>
      <button style="width:50%;color:white;" class="button button-dark" onclick="location.reload()">Reload Questions!</button>
    </div>
<!-- stack over flow
<div ng-controller="DynamicCtrl">
    <input type="radio" ng-model="$parent.lunch" ng-repeat="m in meat"
    ng-value="m" name="lunch">
    {{lunch}}
</div>
--> <br/>
    <label class="item item-input item-select item-positive" style="width:80%;margin:auto;">
      <strong>Order By...</strong>
    <select class="" name="filterq" ng-model="theFilter">
      <option value="nickname">Nickname</option>
      <option value="date">Date</option>
      <option value="topicname">Topic</option>
      <option value="totalvaloration">Score</option>
    </select>
    </label>
  <br/>
  <ion-list>
      <ion-item ng-repeat="question in questions | orderBy: theFilter:true" href="#/app/playlists/{{question.id}}">
        <a ng-click="insideQuestion(question);">
          <h2>{{question.input}}</h2>
        <strong>Author: {{question.nickname}}</strong><br/>
        <strong style="color:teal;">Total Score: {{question.totalvaloration}}</strong><i class="icon ion-star"></i>
        <small style="float:right;">{{question.topicname}}</small>
      </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
