<ion-view>
  <ion-nav-title>
</ion-nav-title>
  <ion-content>
      <br/>
      <br/>
        <h2 style="margin-left:15%;margin-right=15%;">{{inQuestion.input}}</h2>
        <h4 style="float:left;margin-right:20%;margin-left:20%;">Author: <strong style="color:teal;">{{inQuestion.nickname}}</strong></h4>
        <br/>
        <div style="margin-left:15%;margin-right:15%;">
        <h2 style="float:right;">{{inQuestion.totalvaloration}} <i style="font-size:35px;" class="icon ion-star"></i></h2>
        <br/>
        <div ng-show="$parent.theuser.nickname!='anonymous'">
          <h2 ng-if="inQuestion.rated">You already rated this question!</h2>
          <div ng-show="!inQuestion.rated">
          <form style="margin: auto;" name="rateform" ng-submit="doRate()" novalidate>

              <strong>Rate this question</strong><br/>
            <label class="item item-input">
          <select class="" name="rate" ng-model="$parent.torate">
            <option value="rateme">Rateme!</option>
            <option value="1">Nothing interesting</option>
            <option value="2">Maybe some day i will read it</option>
            <option value="3">Interesting</option>
            <option value="4">Usefull</option>
            <option value="5">This question saved my life</option>
          </select><br/>
        </label>
          <button class="button button-block button-calm" ng-disabled="torate=='rateme'" type="submit">Rate!</button>
        </form>
          </div>
          <button style="float:right;margin:2%;" class="button button-assertive" ng-click="reportQuestion()">
            <i class="icon ion-alert"></i> Inapropiate!</button>
        </div>
          <strong ng-if="$parent.theuser.nickname=='anonymous'">Login to rate the question</strong>
      </div>

        <br/>
              <a class="button button-block button-dark" ng-show="($parent.theuser.nickname=='anonymous' && inQuestion.topicname=='untopic') || ($parent.theuser.nickname!='anonymous')" ng-click="newAnswer();answer?answer=false:answer=true;"><span ng-show="!answer">Click me to make your answer!</span>
              <span ng-show="answer">Click me to cancel your answer!</span></a>
        <br/>
        <div ng-show="answer" class="card">
          <form name="answerForm" ng-submit="doAnswer()" novalidate>
          <div class="list">
          <label class="item item-input">
            <span class="input-label">Your answer:</span>
            <textarea ng-model="theanswer.input" placeholder="Make your answer here..." rows="8" cols="10" required>
            </textarea>
          </label>
          <label class="item item-input">
            <span class="input-label">Write the following characters <strong>{{passa}}</strong>:</span>
            <input name="input" type="text" ng-model="confirma" placeholder="Are you a human?" required>
          </textarea>
          </label>
          <h3 style="margin-left:15%;" class="title">Are you sure are you a human?</h3>
          <ion-list>
            <ion-radio ng-model="finaltesta" ng-value="'maybe'">I'm not sure</ion-radio>
            <ion-radio ng-model="finaltesta" ng-value="'yes'">Of course</ion-radio>
            <ion-radio ng-model="finaltesta" ng-value="'no'">011110010110010101110011</ion-radio>
            <ion-radio ng-model="finaltesta" ng-value="'10001100'">Botnet wants to own you</ion-radio>
          </ion-list>
          <label class="item">
            <button ng-disabled="answerForm.$invalid || passa!=confirma || finaltesta!='yes'" class="button button-block button-balanced" type="submit">Make It!</button>
          </label>
        </div>
        </div>
        <label class="item item-input item-select item-positive" style="width:80%;margin:auto;">
        <strong>Order by...</strong>
        <select class="" name="filtera" ng-model="theFilterA">
          <option value="nickname">Nickname</option>
          <option value="dateIn">Date</option>
          <option value="valoration">Score</option>
        </select>
      </label>
    <div class="card" ng-repeat="answer in answers | orderBy: theFilterA:false">
      <div class="item item-text-wrap">
        <h2>{{answer.input}}</h2>
        <br/>
      <strong>Author: {{answer.nickname}}</strong><br/>
      <strong style="color:teal;">Total Score: {{answer.totalvaloration}}</strong><i class="icon ion-star"></i>
      <small style="float:right;">{{answer.dateIn}}</small>
      <div ng-show="$parent.theuser.nickname!='anonymous'">
        <h2 ng-if="answer.rated">You already rated this answer!</h2>
        <div ng-show="!answer.rated">

        <form style="margin: auto;" name="formanswerrate" novalidate>
          <br/>
            <strong style="color:teal;">Rate this answer</strong><br/>
          <label class="item item-input">
        <select class="" name="rateanswer" ng-model="$parent.$parent.torateanswer">
          <option value="rateme">Rateme!</option>
          <option value="1">Nothing interesting</option>
          <option value="2">Maybe some day i will read it</option>
          <option value="3">Interesting</option>
          <option value="4">Usefull</option>
          <option value="5">This answer saved my life</option>
        </select><br/>
      </label>
        <button class="button button-block button-calm" ng-click="doRateAnswer(answer)" ng-disabled="torateanswer=='rateme'" type="submit">Rate!</button>
      </form>
        </div>
        <button style="float:right;margin:2%;" class="button button-assertive" ng-click="reportAnswer(answer)">
          <i class="icon ion-alert"></i> Inapropiate!</button>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
