<ion-view view-title="Signin">
  <ion-content>
    <h1>Singin</h1>
    <! --nickname firstname lastname email password postalcode -->
    <form name="registerForm" ng-submit="createUser()" novalidate>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nick</span>
        <input name="nick" ng-model="user.nickname" ng-pattern="/[a-zA-Z]{3,15}/" required type="text" ng-change="validateNick()" placeholder="JohnTheRipper">
        <div ng-show="registerForm.nick.$error.pattern" style="color: red; font-size:75%">
          <span class="help-block ">Please, insert a valid user nickname.</span>
        </div>
        <div ng-show="!nickvalidated" style="color: red; font-size:75%">
          <span class="help-block ">This username already exists.</span>
        </div>
        <div ng-show="registerForm.nick.$error.required" class="advice" style="color: blue; font-size:75%">
            <span class="help-block ">Nickname is required.</span>
          </div>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Firstname</span>
        <input name="firstname" ng-model="user.firstname" ng-pattern="/[a-zA-Z]{3,15}/" required type="text" placeholder="John">
        <div ng-show="registerForm.firstname.$error.pattern" style="color: red; font-size:75%">
          <span class="help-block ">Please, insert a valid firstname.</span>
        </div>
        <div ng-show="registerForm.firstname.$error.required" class="advice" style="color: blue; font-size:75%">
            <span class="help-block ">Firstname is required.</span>
          </div>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Lastname</span>
        <input name="lastname" required ng-model="user.lastname" ng-pattern="/[a-zA-Z]{3,15}/" type="text" placeholder="Doe">
        <div ng-show="registerForm.lastname.$error.pattern" style="color: red; font-size:75%">
          <span class="help-block ">Please, insert a valid user lastname.</span>
        </div>
        <div ng-show="registerForm.lastname.$error.required" class="advice" style="color: blue; font-size:75%">
            <span class="help-block ">Lastname is required.</span>
          </div>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input ng-pattern="/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" name="email" ng-model="user.email" required type="text" placeholder="john@doe.com">
        <div ng-show="registerForm.email.$error.pattern" style="color: red; font-size:75%">
          <span class="help-block ">Please, insert a valid email.</span>
        </div>
        <div ng-show="registerForm.email.$error.required" class="advice" style="color: blue; font-size:75%">
            <span class="help-block ">Email is required.</span>
          </div>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Postal code</span>
        <input ng-pattern="/^[0-9]{5}$/" name="postalcode" required ng-model="user.postalcode" type="text" placeholder="12345">
        <div ng-show="registerForm.postalcode.$error.pattern" style="color: red; font-size:75%">
          <span class="help-block ">Please, insert a valid user postal code.</span>
        </div>
        <div ng-show="registerForm.postalcode.$error.required" class="advice" style="color: blue; font-size:75%">
            <span class="help-block ">Postal code is required.</span>
          </div>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input name="password" ng-model="user.password" required type="password" placeholder="password">
        <div ng-show="registerForm.password.$error.required" class="advice" style="color: blue; font-size:75%">
            <span class="help-block ">Password is required.</span>
          </div>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Repeat password</span>
        <input ng-model="password2" type="password" placeholder="password">
        <div ng-show="user.password!=password2" style="color: blue; font-size:75%">
          <span class="help-block ">Check your password.</span>
        </div>
      </label>
    </div>

    <label class="item">
      <button ng-disabled="registerForm.$invalid || user.password!=password2 || !nickvalidated" class="button button-block button-balanced" type="submit">Register!</button>
    </label>
  </form>

    <!--form name="registerForm" ng-submit="registerForm.$valid"  novalidate>
									<h3>Customer Data:</h3>
			      <div class="form-group">
							<span class="glyphicon glyphicon-flag"></span><label for="name"> Your name:</label>
								<input name="name" class="form-control" type="text" ng-model="user.name" ng-pattern="/[a-zA-Z]{3,15}/" required />
							<div ng-show="registerForm.name.$error.pattern" class="has-error">
								<span class="help-block ">Please, insert a valid user name.</span>
							</div>
							<div ng-show="registerForm.name.$error.required" class="advice">
									<span class="help-block ">Name is required.</span>
								</div>
						</div>

            <div class="form-group">
              <span class="glyphicon glyphicon-flag"></span><label for="lastname"> Your Lastname:</label>
                <input name="lastname" class="form-control" type="text" ng-model="user.lastName" ng-pattern="/[a-zA-Z]{3,15}/" required />
              <div ng-show="registerForm.lastname.$error.pattern" class="has-error">
                <span class="help-block ">Please, insert a valid user name.</span>
              </div>
              <div ng-show="registerForm.lastname.$error.required" class="advice">
                  <span class="help-block ">Name is required.</span>
                </div>
            </div>

            <div class="form-group">
							<span class="glyphicon glyphicon-flag"></span><label for="name"> Nickname:</label>
								<input ng-change="validateNick()" name="nick" class="form-control" type="text" ng-model="user.nick" ng-pattern="/[a-zA-Z]{3,15}/" required />
							<div ng-show="registerForm.nick.$error.pattern" class="has-error">
								<span class="help-block ">Please, insert a valid user name.</span>
							</div>
							<div ng-show="registerForm.nick.$error.required" class="advice">
									<span class="help-block ">Name is required.</span>
								</div>
						</div>


            <div class="form-group">
            <label for="postalCode">Postal Code:</label>
              <input name="postalCode" class="form-control" type="text" ng-model="user.postalCode" ng-pattern="/^[0-9]{5}$/" required />
            <div ng-show="registerForm.postalCode.$error.pattern" class="has-error">
              <span class="help-block ">Please insert your four digits code-area.</span>
            </div>
            <div ng-show="registerForm.postalCode.$error.required" class="advice">
              <span class="help-block ">Code-area is required.</span>
            </div>
          </div>

						<div class="form-group">
							<span class="glyphicon glyphicon-envelope"></span><label for="mail"> Your email </label>
								<input name="mail" class="form-control" type="text" ng-model="user.mail" ng-pattern="/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" required />
							<div ng-change="validateMail()" ng-show="registerForm.mail.$error.pattern" class="has-error">
								<span class="help-block ">Please, insert correct email.</span>
							</div>
							<div ng-show="registerForm.mail.$error.required" class="advice">
									<span class="help-block ">Email is required.</span>
								</div>
							</div>

							<div class="form-group">
							<span class="glyphicon glyphicon-phone"></span><label for="password"> Password </label>
								<input name="password" class="form-control" type="text" ng-model="user.password" ng-pattern="/[0-9]{9,13}/" required />
							<div ng-show="registerForm.password.$error.pattern" class="has-error">
								<span class="help-block ">Please insert correct phone-number.</span>
							</div>
							<div ng-show="registerForm.movil.$error.required" class="advice">
								<span class="help-block ">Phone is required.</span>
							</div>
						</div>

            <div class="form-group">
            <span class="glyphicon glyphicon-phone"></span><label for="password2"> Repeat password </label>
              <input ng-change="validatePassword()" name="password2" type="text" ng-model="password2" ng-pattern="/[0-9]{9,13}/" required />
            <div ng-show="registerForm.password2.$error.pattern" class="has-error">
              <span class="help-block ">Please insert correct phone-number.</span>
            </div>
            <div ng-show="registerForm.password2.$error.required" class="advice">
              <span class="help-block ">Phone is required.</span>
            </div>
          </div>
</form-->
  </ion-content>
</ion-view>
